<h3> Other Categories </h3>
<form method="get"> 
  <input class="s-input w-full" type="text" placeholder="Search for answers..." />
</form>
<div class="collections"> 
  <ul> 
    <li><a> How To's </a></li>
    <li><a> Installations </a></li>
    <li><a> Version Guides </a></li>
  </ul>
</div>